.movie-container {
  margin: 15px;
  flex: 1 1;
  min-width: 200px;
}

.movie-image {
  width: -webkit-fill-available;
  width: -moz-available; /* WebKit-based browsers will ignore this. */
  width: fill-available;
  height: 390px;
  cursor: pointer;
}
.movie-name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #ffffff;

  mix-blend-mode: normal;
  opacity: 0.7;
}
.movie-category {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #ffffff;

  mix-blend-mode: normal;
  opacity: 0.5;
  margin: 10px auto;
}
.movie-releaseDate {
  opacity: 0.5;
  border: 1px solid #979797;
  box-sizing: border-box;
  border-radius: 4px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;

  color: #ffffff;

  mix-blend-mode: normal;
  opacity: 0.7;
}

.movie-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
